@media screen and (max-width: 1025px) {
  section {
    display: flex;
    flex-direction: column;
  }
  article {
    width: 100% !important;
  }
  article h1 {
    font-size: 10vw;
    text-align: center;
    line-height: 16vw;
  }
  #imagen-objetivos{
    height: auto;
    width: auto;
  }
  article img.tucuman {
    width: auto;
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
  }
}

/** Responsive Testimonials**/

@media (max-width:575px){
  
.highlight-content {
  font-size: 1rem;
  word-spacing: 1.2px;
}
}

@media screen and (max-width: 1201px) {
  .testimonials-section {
    margin-top: 5.385rem;
  }
  .section-2,
  .section-4 {
    grid-column: span 2;
  }
  .section-3 {
    grid-row: span 1;
    grid-column: span 4;
  }
}

@media screen and (max-width: 801px) {
  .testimonials-section > * {
    grid-column: span 4;
    grid-row: span 1;
  }
}

/**Circle carousel**/

@media (max-width: 575px) {
  .carousel {
    margin: 2em 0px;
  }

  .carousel__item {
    width: 45%;
    padding: 6em 0;
    max-height: 9em;
    font-size: 8px;
    line-height: 9px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .carousel__item {
    width: 70%;
    padding: 6em 0;
    max-height: 8em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel {
    margin: 10em 0 20em 0;
  }
  .carousel__item {
    width: 40%;
    height: 30%;
    padding: 12em 1em;
    max-height: 8em;
    font-size: 15px;
    line-height: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .carousel__item {
    width: 50%;
    padding: 3em 0;
    max-height: 5em;
  }
}
/* 
@media (min-width: 1200px) and (max-width: 1399px) {
  .carousel__item {
    width: 45%;
    padding: 3em 0;
    max-height: 4.5em;
  }
} */
/* 
@media (min-width: 1400px) {
  .carousel__item {
    width: 40%;
    padding: 2.5em 0;
    max-height: 4em;
  }
} */